NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

AUTH0_ID=
AUTH0_SECRET=
AUTH0_ISSUER=

DESCOPE_ID=
DESCOPE_SECRET=

FACEBOOK_ID=
FACEBOOK_SECRET=

GITHUB_ID=
GITHUB_SECRET=

GOOGLE_ID=
GOOGLE_SECRET=

TWITTER_ID=
TWITTER_SECRET=

CORBADO_PROJECT_ID=
API_SECRET=